@font-face {
   font-family: 'Josefin Sans';
   src: url('fonts/josefinsans-regular-webfont.woff');
}
@font-face {
   font-family: 'Josefin Sans Light';
   src: url('fonts/josefinsans-light-webfont.woff');
}
@font-face {
   font-family: 'Josefin Sans Thin';
   src: url('fonts/josefinsans-thin-webfont.woff');
}
@font-face {
   font-family: 'Josefin Sans Semibold';
   src: url('fonts/josefinsans-semibold-webfont.woff)';
}